<!--

<button (click)="toggleDisplay()">Toggle display</button>
<h1 *ngIf="isDisplayed" [ngClass]="{'best-green': true}">Hello World! {{title}}</h1>

<input type="text" [(ngModel)]="title">

<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<h2>{{count}}</h2>

<app-numbers-generator></app-numbers-generator>
-->

<!--
<app-forms></app-forms>
-->

<!--
<app-reactive-forms></app-reactive-forms>
-->

<!--
<app-services></app-services>
-->

<!--
<app-communication></app-communication>
-->

<!--
<app-pipe-example></app-pipe-example>
-->

<a routerLink="pipe" routerLinkActive="active">Go to pipe</a>
<a routerLink="form" routerLinkActive="active">Go to form</a>

<router-outlet></router-outlet>
